* {
	box-sizing: border-box;
}
body {
	background: url(../images/concrete_seamless.png) repeat;
}
header {
	background: #ffffff;
	width: 1277px;
	top: 0;
	left: 0;
	height: 85px;
	padding: 20px;
	border-bottom-style: solid; 
	border-bottom-width: 3px;
	border-bottom-color: #cccccc;
	position: fixed;
}
h1 {
	background: #4aaaa5;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	height: 85px;
	left: 150px;
	bottom: 0px;
	margin: auto;
	padding: 27px;
	position: absolute;
}
nav {
	top: 30px;
	left: 900px;
	position: fixed;
}
a {	
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	color: #777777;
}
#index-html,
#portfolio-html,
#contact-html {
	float: left;
}
#index-html {
	padding-right: 15px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dddddd;
}
#portfolio-html {
	padding-left: 15px;
	padding-right: 15px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dddddd;
}
#contact-html {
	padding-left: 15px;
}
#container {
	width: 960px;
	left: 150px;
	top: 0px;
	position: fixed;
}
#about-me {
	background: #ffffff;
	width: 650px;
	height: 417px;
	left: 0px;
	top: 120px;
	position: absolute;
}
#about-me-border {
	background: #ffffff;
	width: 590px;
	height: 75px;
	left: 25px; 
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #dddddd;
	position: absolute;
}
p {
	margin: auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	color: #777777;
}
form {
	background: #ffffff;
	width: 650px;
	height: 417px;
	left: 0px;
	top: 120px;
	right: 703px;
	position: absolute;
}
#contact-border {
	background: #ffffff;
	width: 590px;
	height: 75px;
	left: 25px; 
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #dddddd;
	position: absolute;
}
#form-info {
	color: #948a90;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	left: 25px;
	top: 100px;
	position: absolute;
}
#name {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 14px;
	width: 590px;
	height: 20px;
	left: 90px;
	top: 273px;
	right: 531px;
	bottom: 300px;
	border: solid #dddddd;
	border-width: 1px;
}
#email {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 14px;
	width: 590px;
	height: 20px;
	left: 90px;
	top: 273px;
	right: 531px;
	bottom: 300px;
	border: solid #dddddd
	border-width: 1px;
}
textarea {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 14px;
	overflow-wrap: normal;
	border: solid #dddddd;
	border-width: 1px;
	width: 590px;
	height: 140px;
	left: 90px;
	top: 332px;
	right: 529px;
	bottom: 484px;
}
#submit {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 14px;
	background: #4aaaa5;
	color: #ffffff;
	width: 86px;
	height: 32px;
	border: solid #4aaaa5;
}
h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	top: 8px;
	left: 0px;
	position: absolute;
}
#bio-image {
	width: 200px;
	height: 150px;
	left: 25px;
	top: 100px;
	position: absolute;	
}
#portfolio-section {
	background: #ffffff;
	width: 650px;
	height: 538px;
	left: 0px;
	top: 120px;
	right: 703px;
	position: absolute;
}
#portfolio-border {
	background: #ffffff;
	width: 590px;
	height: 75px;
	left: 25px; 
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #dddddd;
	position: absolute;
}
#hangman-image,
#rpggame-image {
	left: 25px;
	top: 90px;
}
#hangman-image {
	width: 260px;
	height: 150px;
	position: relative;
}
#rpggame-image {
	width: 260px;
	height: 150px;
	left: 90px;
	position: relative;
}
#triviagame-image,
#rutgersinfowidget-image {
	left: 25px;
	top: 100px;
}
#triviagame-image {
	width: 260px;
	height: 150px;
	position: relative;
}
#rutgersinfowidget-image {
	width: 260px;
	height: 150px;
	left: 90px;
	position: relative;
}
#rockpaperscissors-image {
	width: 260px;
	height: 150px;
	left: 25px;
	top: 110px;
	position: relative;
}
h5 {
	background: #4aaaa5;
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	width: 260px;
	height: 40px;
	padding: 10px;
	text-align: center;
}
#hangman-label {
	top: 160px;
	left: 25px;
	position: absolute;
}
#rpggame-label {
	top: 160px;
	left: 354px;
	position: absolute;
}
#triviagame-label {
	top: 325px;
	left: 25px;
	position: absolute;
}
#rutgersinfowidget-label {
	top: 325px;
	left: 354px;
	position: absolute;
}
#rockpaperscissors-label {
	top: 470px;
	left: 25px;
	position: absolute;
}
aside {
	background: #ffffff;
	width: 270px;
	height: 200px;
	left: 700px;
	top: 120px;
	right: 973px;
	bottom: 289px;
	padding: 20px;
	position: absolute;
}
#connect-with-me {
	background: #ffffff;
	width: 220px;
	height: 60px;
	top: 8px;
	left: 23px; 
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #dddddd;
	position: absolute;
}
h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	left: 27px;
	position: absolute;
}
#github-image,
#linkedin-image,
#stackoverflow-image {
	top: 80px;
	left: 25px;
	float: left;
}
#github-image {
	width: 60px;
	height: 60px;
	position: relative;
}
#linkedin-image {
	width: 60px;
	height: 60px;
	position: relative;
}
#stackoverflow-image {
	width: 55px;
	height: 54.25px;
	margin-top: 3px;
	margin-left: 2px;
	position: relative;
}
footer {
	background: #666666;
	top: 575px;
	width: 1277px;
	height: 85px;
	left: 0;
	padding: 20px;
	border-top-style: solid;
	border-top-width: 7px;
	border-top-color: #4aaaa5;
	position: fixed;
}
h4 {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}