* {
	box-sizing: border-box;
}
body {
	background: url(../images/concrete_seamless.png) repeat;
}
header {
	background: #ffffff;
	width: 100%;
	height: 85px;
	border-bottom-style: solid; 
	border-bottom-width: 3px;
	border-bottom-color: #cccccc;
	position: fixed;
}
h1 {
	background: #4aaaa5;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	left: 150px;
	bottom: 0px;
	padding: 28px;
	position: absolute;
}
nav {
	top: 30px;
	right: 180px;
	position: absolute;
	float: right;
}
a {	
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	color: #777777;
}
#index-html,
#portfolio-html,
#contact-html {
	float: left;
}
#index-html {
	padding-right: 15px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dddddd;
}
#portfolio-html {
	padding-left: 15px;
	padding-right: 15px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dddddd;
}
#contact-html {
	padding-left: 15px;
}
.container {
	width: 960px;
	height: 420px;
	top: 120px;
	left: 150px;
	position: fixed;
}
#about-me {
	background: #ffffff;
	width: 650px;
	height: 420px;
	position: relative;
	float: left;
}
#about-me-border {
	background: #ffffff;
	width: 590px;
	height: 50px;
	top: 25px;
	left: 25px; 
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #dddddd;
	position: relative;
}
#bio-layout {
	width: 600px;
	top: 50px;
	left: 25px;
	position: relative;
}
#bio-image {
	width: 200px;
	height: 160px;
	padding-right: 15px;
	padding-bottom: 5px;
	position: relative;
	float: left;
}
#bio-text {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	overflow-wrap: normal;
	padding-right: 10px;
	position: relative;
	float left;
}
p {
	margin: auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	color: #777777;
}
form {
	background: #ffffff;
	width: 650px;
	height: 420px;
	position: relative;
	float: left;
}
#contact-border {
	background: #ffffff;
	width: 590px;
	height: 50px;
	top: 25px;
	left: 25px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #dddddd;
	position: relative;
}
#form-info {
	color: #948a90;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	top: 50px;
	left: 25px;
	position: relative;
}
#name {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 14px;
	width: 590px;
	height: 20px;
	border: solid #dddddd;
	border-width: 1px;
}
#email {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 14px;
	width: 590px;
	height: 20px;
	border: solid #dddddd
	border-width: 1px;
}
textarea {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 14px;
	overflow-wrap: normal;
	width: 590px;
	height: 140px;
	border: solid #dddddd;
	border-width: 1px;
}
#submit {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 14px;
	background: #4aaaa5;
	color: #ffffff;
	width: 86px;
	height: 32px;
	border: solid #4aaaa5;
}
h2 {
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
}
#portfolio-section {
	background: #ffffff;
	width: 650px;
	height: 570px;
	position: relative;
	float: left;
}
#portfolio-border {
	background: #ffffff;
	width: 590px;
	height: 50px;
	top: 25px;
	left: 25px; 
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #dddddd;
	position: relative;
}
#hm-pg {
	width: 590px;
	height: 125px;
	top: 50px;
	left: 25px;
	position: relative;
}
#hm-layout {
	width: 260px;
	height: 125px;
	position: relative;
	float: left;
}
#hangman-image {
	width: 260px;
	height: 125px;
}
#rpg-layout {
	width: 260px;
	height: 125px;
	left: 70px;
	position: relative;
	float: left;
}
#rpggame-image {
	width: 260px;
	height: 125px;
}
#tg-riw {
	width: 590px;
	height: 125px;
	top: 75px;
	left: 25px;
	position: relative;
}
#tg-layout {
	width: 260px;
	height: 125px;
	position: relative;
	float: left;
}
#triviagame-image {
	width: 260px;
	height: 125px;
}
#riw-layout {	
	width: 260px;
	height: 125px;
	left: 70px;
	position: relative;
	float: left;
}
#rutgersinfowidget-image {
	width: 260px;
	height: 125px;
}
#rps {
	width: 590px;
	height: 125px;
	top: 100px;
	left: 25px;
	position: relative;
}
#rps-layout {
	width: 260px;
	height: 125px;
}
#rockpaperscissors-image {
	width: 260px;
	height: 125px;
}
h5 {
	background: #4aaaa5;
	font-size: 18px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	color: #ffffff;
	width: 260px;
	height: 40px;
	top: 80px;
	padding: 10px;
	position: absolute;
}
aside {
	background: #ffffff;
	width: 270px;
	height: 180px;
	left: 40px;
	position: relative;
	float: left;
}
#connect-with-me {
	background: #ffffff;
	width: 230px;
	height: 40px;
	top: 20px;
	left: 15px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #dddddd;
	position: relative;
}
h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #4aaaa5;
	text-align: center;
}
#connect-links {
	top: 50px;
	left: 5px;
	position: relative;
}
#github-image,
#linkedin-image,
#stackoverflow-image {
	left: 40px;
	float: left;
	position: relative;
}
#github-image {
	width: 60px;
	height: 60px;
}
#linkedin-image {
	width: 60px;
	height: 60px;
}
#stackoverflow-image {
	width: 55px;
	height: 54.25px;
	margin-top: 3px;
	margin-left: 2px;
}
footer {
	background: #666666;
	width: 100%;
	height: 85px;
	left: 0;
	bottom: 0px;
	padding: 35px;
	border-top-style: solid;
	border-top-width: 7px;
	border-top-color: #4aaaa5;
	position: fixed;
}
h4 {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
}